.idea/
__pycache__/
material-dashboard-react-master
regioni/
COVID-19/
.DS_Store
runs*/
runs.old*/
regioni.old*/
regioni_sir/
regioni_sidarthe/
dati-regioni/
.ipynb_checkpoints/
.vscode/
runs.1/
SIDARTHE_Code/
*.zip

regioni_sidarthe.2/
sidarthe_constant_75/